		<div class="section" id="about">
			<div class="container">
				<h2>À propos d'EnragedGamers</h2>
				<p style="text-align: justify;"><strong>EnragedGamers</strong> a vu le jour en 2014. Au début, l'idée était juste de trouver un nom "stylé" pour se la jouer sur les serveurs Team Fortress. Il nous a fallu du temps pour que l'on commence à construire un projet concret sous l'égide d'<strong>EnragedGamers</strong>. Lors d'une douce nuit d'été, nous nous sommes décidés à lancer notre premier serveur Team Fortress 2. Hébergé sur la machine de <strong>TRITFIRE</strong>, avec une connexion qui oscillait entre 2 et 3Mbps, ce petit serveur nous a donné l'envie de faire quelque chose avec l'équipe que nous venions de créer.</p>
				<p style="text-align: justify;">L'année suivante, nous découvrions <strong>CSGO</strong> et les joies du "MM". <strong>EnragedGamers</strong> e-Sport naquit de la poussière des appartements de Mirages.</p>
				<p style="text-align: justify">Nous nous retrouvons en 2016 lorsque, pour la première fois de notre histoire, nous obtenons un partenariat avec un hébergeur de serveurs de jeux. Durant un an, nous avons bénéficiés de la qualité d'hébergement d'un professionnel pour mettre en ligne nos serveurs et permettre à la communauté de jouer librement et simplement !</p>
				<p style="text-align: justify">C'est en 2017 que tout s'accélère. La marque taïwanaise <strong>Gaming MSI</strong> décide de sponsoriser des équipes amateures ou professionnelles à travers le monde. À notre très grande surprise, nous avons été sélectionné pour ce programme et durant 1 an, nous avons été sponsorisé par <strong>MSI</strong>.</p>
			</div>
		</div>
		<footer class="burned-asphalt">
			<div class="midnight-" id="sub-footer">
				<div class="container">
					<div class="row bottomLinks">
						<div class="col-sm-6 sm-direction">
							<nav>
								<ul class="list-inline footer-nav">
									<li><a href="/forum" title="">Forum</a></li>
									<li><a href="https://enragedgamers.net/boutique" title="">Boutique</a></li>
									<li><a href="https://enragedgamers.net/forum/memberlist.php?mode=contactadmin" title="Nous contacter">Nous contacter</a></li>
								</ul>						
							</nav>
						</div>						
						<div class="col-sm-6 sm-direction">	
							<div class="clearfix socialbar">
								<div class="social-network">
									<a class="youtube-color" title="YouTube EnragedGamers" href="https://www.youtube.com/channel/UCF2Qjppy-2Rgj5V-fTqeDfQ"><i class="fa fa-youtube"></i></a>
									<a class="steam-color" title="Steam EnragedGamers" href="https://steamcommunity.com/groups/teamenragedgamers"><i class="fa fa-steam"></i></a>
									<a class="twitter-color" title="Twitter EnragedGamers" href="https://twitter.com/EnragedTeam"><i class="fa fa-twitter"></i></a>
								</div>							
							</div>
						</div>	
					</div>				
                	<div class="row">				
						<div class="col-sm-6 sm-direction">
							<p class="copyrights">
								<small>&copy;<a href="https://enragedgamers.net/" title="Equipe eSport" target="_blank">&nbsp;EnragedGamers&nbsp;</a></small>
							</p>
						</div>					
						<div class="col-sm-6 sm-direction">
							<p class="debug-output">
								<small>&#45;&nbsp;Une communauté. Des amis. Sans Rage.&nbsp;&#45;</small>
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<a id="totop" class="top-flat" href="" onclick="return false;" style="display:none;"></a>
		<script>
			head.load("//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js", "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js", "js/site.js");
		</script>
	</body>
</html>