<!DOCTYPE html>
<html lang="fr">
	<head prefix="og: http://ogp.me/ns#">
		<title>EnragedGamers - Communauté MultiGaming</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta author="Gabriel Santamaria">

		<meta name="description" content="EnragedGamers, une communauté multigaming innovante crée en 2014. N'hésitez pas à nous rejoindre !" />
		<meta property="og:description" content="EnragedGamers, une communauté multigaming innovante crée en 2014. N'hésitez pas à nous rejoindre !" />
		<meta property="twitter:description" content="EnragedGamers, une communauté multigaming innovante crée en 2014. N'hésitez pas à nous rejoindre !" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="designer" content="SiteSplat & EnragedGamers">
		<!-- OpenGraph -->
		<meta property="og:site_name" content="EnragedGamers" />
		<meta property="og:title" content="EnragedGamers - Communauté MultiGaming" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://enragedgamers.net" />
		<meta property="og:locale" content="fr_FR">
		<!-- GeoTags -->
		<meta name="geo.region" content="FR" />
		<meta name="geo.placename" content="Bordeaux" />
		<meta name="geo.position" content="44.837789;-0.57918" />
		<meta name="ICBM" content="44.837789, -0.57918" />

		<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Asap:700' rel='stylesheet' type='text/css'>
		<link href="//fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
		<link href="//fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="css/site.css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.load.min.js"></script>
	</head>
	<body>
		<header id="top" class="navbar navbar-inverse navbar-static-top flat-nav">
			<div class="container">
				<div class="navbar-header">
					<button data-target=".flat-nav-collapse" data-toggle="collapse" type="button" class="nav-tog lines-button x navbar-toggle neutro">
						<span class="sr-only sr-nav">Toggle Navigation</span>
						<span class="lines"></span>
					</button>
					<a class="navbar-brand" href="http://enragedgamers.net"><img style="max-width:100px; margin-top: -8px;" src="images/logo.png" class="img-responsive" alt="EnragedGamers"></a>
				</div>
				<nav class="collapse navbar-collapse flat-nav-collapse" aria-label="Primary">    	
					<ul class="nav navbar-nav navbar-nav-fancy navbar-enragedgamers">
						<li class=""><a href="index.html">ACCUEIL</a></li>
						<li class="dropdown">
							<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">FORUM&nbsp;<b class="caret"></b></a>
							<span class="dropdown-arrow"></span>
							<ul class="dropdown-menu">
								<li><a href="https://enragedgamers.net/forum"><i class="fa fa-search"></i>Accueil du forum</a></li>
								<li><a href="https://enragedgamers.net/forum/app.php/help/faq"><i class="fa fa-question-circle"></i>FAQ</a></li>
								<li><a href="https://enragedgamers.net/forum/memberlist.php?mode=team"><i class="fa fa-trophy"></i>L’équipe du forum</a></li>
								<li><a href="https://enragedgamers.net/forum/app.php/a-propos-denragedgamers"> <i class="fa fa-user"></i> À propos d'EnragedGamers</a></li>
							</ul>
						</li>		
						<li class="dropdown">
							<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">BOUTIQUE&nbsp;<b class="caret"></b></a>
							<span class="dropdown-arrow"></span>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="fa fa-cart-plus fa"></i>Accueil</a></li>
								<li><a href="#"><i class="fa fa-list fa"></i>Objets</a></li>
							</ul>
						</li>
					</ul>	  	  
					<ul class="nav navbar-nav navbar-right navbar-nav-fancy">
						<li><a href="https://enragedgamers.net/forum/ucp.php?mode=register">Créer un compte</a></li>
						<li><a href="https://enragedgamers.net/forum/ucp.php?mode=login">Connexion</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div class="flat-header">
			<div class="masthead"></div>
			<div class="wrapper-head">
				<div class="container">
					<h1 class="header-title">EnragedGamers&nbsp;</h1>
					<p class="header-explain">Une communauté. Des amis. Sans Rage.</p>
				</div>
			</div>
		</div>