/*****************************************************************
* **************************************************************
*
* EnragedGamers @enragedgamers.net - CUSTOM STYLESHEET -
* For any problems or suggestions, please, contact <tritfire@enragedgamers.net> and <gabyfle@enragedgamers.net>
* 
* **************************************************************
*****************************************************************/
/* ===[ CSS HOOK TOP ]=== */

/* ===[ IMPORTS ] === */
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans'); /* Inconsolata and Open Sans */

/* ===[ BOOTSTRAP ]=== */

.btn {
    font-family: 'Inconsolata', monospace;
}

/* danger */
.btn-danger, .btn-danger.disabled, .btn-danger.disabled.active, .btn-danger.disabled:active, .btn-danger.disabled:focus, .btn-danger.disabled:hover, .btn-danger[disabled], .btn-danger[disabled].active, .btn-danger[disabled]:active, .btn-danger[disabled]:focus, .btn-danger[disabled]:hover, .label-danger, .progress-bar-danger, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger.active, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:hover {
    background-color: #720000;
}
.btn-danger:hover { background-color: #7c0000; }
.btn-danger.active, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open .dropdown-toggle.btn-danger { 
    background-color:#910000;
}

/* purple */
.btn-purple {
    color: #fff !important;
    background-color: #6c52a8;
    border-color: #6c52a8;
}
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active {
    color: #fff;
    background-color: #614a97;
    border-color: #564186;
}
.btn-purple.disabled:hover, .btn-purple.disabled:focus, .btn-purple.disabled:active, .btn-purple.disabled.active, .btn-purple[disabled]:hover, .btn-purple[disabled]:focus, .btn-purple[disabled]:active, .btn-purple[disabled].active, fieldset[disabled] .btn-purple:hover, fieldset[disabled] .btn-purple:focus, fieldset[disabled] .btn-purple:active, fieldset[disabled] .btn-purple.active {
    color: #fff;
    background-color: #6c52a8;
    border-color: #6c52a8;
}


/* ==[ NAVIGATION BAR ]== */

.navbar-inverse {
    border-color: #010101;
    background-color: #000000;

    font-family: 'Open Sans', sans-serif;
}

.navbar-nav-fancy > li:before {
    border-radius: 20px;
    background: 0 0 #333333;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #444444;
    border-color: #444444;
    border-radius: 30px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #333;
}

.dropdown-menu {
    border: 4px solid #333;

    font-family: 'Inconsolata', monospace;
}

.dropdown-menu > li > a {
    color: #444444;
    border-radius: 2px;
}

.navbar-nav .dropdown-menu > li > a i {
    font-size: 15px;
    padding: 0 15px 0 0;
    color: #444444;
}

.dropdown-notification > a i, .btn-search > i {
    color: #fefefe;
}

/* ===[ HEADER ]=== */

.flat-header {
    height: 230px;
    padding-bottom: 50px;
}

.flat-header h1 {
    font-family: 'Inconsolata', monospace;
}

.flat-header p {
    font-family: 'Open Sans', sans-serif;
}

.masthead:before {
    background: url(./images/tile-bg-head.png) 0 0 #720000;
}

/* ===[ FOOTER ]=== */

.top-flat {
    background-color: #720000;
}

.mastbottom {
    background: url(./images/tile-bg-head.png) fixed 100% 100% #3C2869;
}

.mastbottom .call-to-action { 
    font-family: 'Inconsolata', monospace;
}

.section-pre-footer {
    background: 0 0 #111111;
}

.section-pre-footer .thumb i {
    color: #fff;
}

.section-pre-footer .section-bg {
    background: 0 0 #141414;
}

footer {
    background-color: #000000 !important;
}

/* ===[ BODY ]=== */

    /* ==[ SERVERS ]== */
.section {
    border-radius: 10px;
    font-family: 'Inconsolata', monospace;

    margin: 10px;
    padding: 10px;

    background-color: #000000;

    color: #fff;
}

.section h2 {
    font-size: 15px;
    font-family: 'Inconsolata', monospace;

    color: #fff;
}

.section .server-name, .section .server-gamemode {
    text-align: right;
}

.server-players {
    font-size: 30px;

    text-align: center;
    padding-top: 15px;
}

.csgo {
    background-image: linear-gradient(
        to left, transparent, #151516
      ), url(images/cs_bg.jpg);
    background-position: center;
}

.tf2 {
    background-image: linear-gradient(
        to left, transparent, #A04642
      ), url(images/tf_bg.jpg);
    background-position: center;
}

.sniper{
	position: absolute;
	top: 0px;
	left: -50px;

	background: url(images/sniper.png) no-repeat center;
	background-size: cover;
	width: 100px;
	height: 108px;
	transform: rotate(-45deg);
	z-index: -1;
}

.csgo-cool{
	position: absolute;
    top: 25px;
    right: -50px;

	background: url(images/cs_cool.png) no-repeat center;
	background-size: cover;
	width: 100px;
	height: 56px;

    transform: rotate(90deg);
	z-index: -1;
}

    /* ==[ PAGE BODY ]== */

.panel-forum > .panel-heading {
    font-family: 'Inconsolata', monospace;
    background-color: #720000;
}

a.forumtitle, a.topictitle {
    color: #720000;
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
}

.description, .desc-wrapper {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #444;
}

.panel-default > .panel-heading {
    font-family: 'Inconsolata', monospace;
    color: #FEF;
    border-color: #dde1e7;
    background-color: #720000;

/* ===[ CSS HOOK BOTTOM ]=== */