{% include 'includes/header.twig' %}
		<div class="container">
			<div id="content">
				<div class="breadcrumb-line clearfix">
					<ul class="breadcrumb">		
						<li><a href="https://enragedgamers.net"><span class="icon fa fa-home"></span></a></li>
						<li  itemtype="https://data-vocabulary.org/Breadcrumb" itemscope=""><a href="https://enragedgamers.net/" data-navbar-reference="home" itemprop="url"><span itemprop="title">Accueil</span></a></li>		
					</ul>
				</div>
				<div class="section" id="partner">
					<h2><a href="https://partner.net" title="Partenaire EnragedGamers" >partner.net</a> - Spécialiste de l'hébergement</h2>
					<p><a href="https://partner.net" title="Partenaire EnragedGamers" >partner.net</a> héberge et parraine la communauté EnragedGamers</p>
					<p class="code-promo vcenter"><span class="badge badge-success big">-15%</span><br>
					avec le code<br>
					<span class="big">"EnragedGamers"</span></p>
				</div>
				<div class="section" id="csgo">
					<h2>Nos serveurs Counter-Strike : Global Offensive</h2>
					<p style="text-align: justify;">Hébergés par <a href="https://partner.net" title="Partenaire EnragedGamers" >partner.net</a>, nos serveurs Counter-Strike tournent sur des machines conçu pour le gaming exigeant (des processeurs cadencés à 4Ghz). <strong>EnragedGamers</strong> vous propose deux serveurs <strong>Counter-Strike : Global Offensive</strong> dédiés à l'entraînement personnel et en équipe. Rejoignez sans plus tarder notre serveur DeathMatch HS, pour perfectionner votre AIM, et notre serveur Retake pour améliorer votre connaissance des cartes !</p>
					<div class="row servers">
						<div class="col-md-6 col-12">
							<h3>Serveur DeathMatch HS</h3>
							<p>Le serveur parfait pour entraîner ses réflexes et son AIM.</p>
							<h4>Caractéristiques :</h4>
							<p>Tickrate : <strong>128</strong>
							<br>Places : <strong>32</strong></p>
							<a href="#" class="btn btn-success btn-lg btn-block"><i class="fa fa-steam"></i> Connexion</a>
						</div>
						<div class="col-md-6 col-12">
							<h3>Serveur Retake</h3>
							<p>Le serveur parfait pour améliorer sa connaissance des maps!</p>
							<h4>Caractéristiques :</h4>
							<p>Tickrate : <strong>128</strong>
							<br>Places : <strong>12</strong></p>
							<a href="#" class="btn btn-success btn-lg btn-block"><i class="fa fa-steam"></i> Connexion</a>
						</div>
					</div>
				</div>
				<div class="section" id="teamfortress">
					<div class="sniper"></div>
					<h2>Nos serveurs Team Fortress 2</h2>
					<p>Propulsés par les machines haute performance d'<a href="https://partner.net">partner.net</a>, retrouvez les pires Boss en mode 1VSAll et ne vous arrêtez plus de courrir sur notre Deathrun ! Jouez à <strong>Team Fortress 2</strong> comme vous ne l'avez jamais fait sur les serveurs <strong>EnragedGamers</strong>!</p>
					<div class="row servers">
						<div class="col-md-6 col-12">
							<h3>Serveur 1VSAll</h3>
							<p>Affrontez les boss ultimes en équipe dans des arènes incroyables!</p>
							<h4>Caractéristiques :</h4>
							<p>Tickrate : <strong>128</strong>
							<br>Places : <strong>48</strong></p>
							<a href="#" class="btn btn-success btn-lg btn-block"><i class="fa fa-steam"></i> Connexion</a>
						</div>
						<div class="col-md-6 col-12">
							<h3>Serveur DeathRun</h3>
							<p>Traversez un chemin semé d'embuches et évitez les pièges que vous tends la maître de jeu!</p>
							<h4>Caractéristiques :</h4>
							<p>Tickrate : <strong>128</strong>
							<br>Places : <strong>48</strong></p>
							<a href="#" class="btn btn-success btn-lg btn-block"><i class="fa fa-steam"></i> Connexion</a>
						</div>
					</div>
				</div>
			</div>
		</div>
{% include 'includes/footer.twig' %}